* {
    margin: 0%;
    padding: 0%;
}

.container {
    margin-left: 70px;
    margin-right: 70px;
    font-family: "Lexend", serif;
}

body {
    background-image: url(../../../../../Downloads/file.png);
    height: 100%;
    background-repeat: no-repeat;
    background-position-x: 500px;
    background-position-y: -320px;
}

.row1 {

    display: flex;
    height: 70px;
    margin-top: 5px;

}

.nav {
    display: flex;
    margin-left: 50px;
    gap: 40PX;
    font-size: large;
    color: rgb(83, 83, 83);

}

.navko {
    justify-items: center;
    align-content: center;
}

.logo {
    font-size: 40px;
    justify-items: center;
    align-content: center;
    color: rgb(102, 102, 102);
}

#pko {
    color: rgb(149, 1, 208);

}

.talk {
    justify-items: center;
    align-content: center;
    margin-left: 670px;
}
#talk:hover{
    background-color: skyblue;
    border: 2px solid skyblue;
  color:  rgb(149, 1, 208);
}
#talk {
    height: 40px;
    width: 130px;
    font-size: 17px;
    background-color: rgb(149, 1, 208);
    border-radius: 10px;
    color: white;
    border-color: rgb(155, 6, 214);
}

.row2 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 160px;
    color: rgb(83, 83, 83);
}

#naam {
    color: rgb(149, 1, 208);
    ;
}

.row3 {
    font-size: 35px;
    font-weight: bold;
    margin-top: 5px;
    color: rgb(83, 83, 83);
}

.row4 {
    margin-top: 20px;
    color: rgb(83, 83, 83);
}

.row5 {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

#bt1 {
    width: 140px;
    height: 40px;
    font-size: 15px;
    color: white;
    background-color: rgb(155, 6, 214);
    border-color: rgb(155, 6, 214);
    border-radius: 10px;
    font-weight: bold;
}
#bt1:hover{
    background-color: rgb(110, 204, 235);
    border-color: blue

}

#bt2 {
    height: 40px;
    width: 160px;
    border: 3px solid rgb(155, 6, 214);
    font-size: 15px;
    color: rgb(155, 6, 214);
    border-radius: 10px;
    font-weight: bold;
}
#bt2:hover{
    border-color: bblue;
    color: blue;
}

.row6 {
    display: flex;
    margin-top: 150px;
    font-size: 30px;
    gap: 20px;
}

.in,
.fb,
.twi {
    border: 3px solid rgb(155, 6, 214);
    width: 35px;
    color: rgb(155, 6, 214);
    align-content: center;
    justify-items: center;
    border-radius: 5px;
}

i {
    margin-left: 4px;
}